*{
    font-family: 'Roboto', sans-serif;

}


.titulo{

    color: darkblue;
    justify-self: center;

}

.navBar{

    display: flex;

    justify-content: center;

    gap: 30px;

}

.navBar a{

    color : darkblue;

    text-decoration: none;

    font-weigth: bold;

    padding: 10px;

}

.navBar a:hover{

    background-color: darkblue;

    color: white;

    transition: 0.5s;

    border-radius: 8px;
}

.tabela-agendamentos{

    justify-self: center;

}

.linha{
    width: 90vw;
}