<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Todos os Agendamentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1 class="titulo">Lista de Agendamentos</h1>
    <nav class = "navBar">
        <a href="/">Voltar ao Início</a>

        <a href="/agendamentos/status/">Filtrar por Status</a>
    </nav>
    <br><br>

    <table class="tabela-agendamentos" border="1" cellpadding="8">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Serviço</th>
                <th>Barbeiro</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for agendamento in agendamentos %}
            <tr>
                <td>{{ agendamento.id }}</td>
                <td>{{ agendamento.cliente }}</td>
                <td>{{ agendamento.servico }}</td>
                <td>{{ agendamento.barbeiro }}</td>
                <td>{{ agendamento.data_agendamento }}</td>
                <td>{{ agendamento.horario}}</td>

                {% if agendamento.status_agendamento == "Agendado"%}

                <td style="background-color: orange; color: black">{{ agendamento.status_agendamento}}</td>

                {% elif agendamento.status_agendamento == "Concluído" %}

                <td style="background-color: green; color: white">{{ agendamento.status_agendamento}}</td>

                {% else %}

                <td style = "background-color: red; color: white">{{ agendamento.status_agendamento}}</td>

                {% endif %}

                <td>
                    <a href="/agendamento/{{ agendamento.id }}">Ver Detalhes</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">Nenhum agendamento cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>