<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ nome_barbearia }} - Início</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1 style="color: blue">Bem-vindo à {{ nome_barbearia }}</h1>
    <hr>

    <h3>Painel Geral</h3>
    <p>Total de agendamentos cadastrados: <strong>{{ total }}</strong></p>

    <nav>
        <ul>
            <li><a href="/agendamentos">Ver todos os agendamentos</a></li>
            <li><a href="/agendamentos/status/">Agendamentos por Status</a></li>
        </ul>
    </nav>
</body>
</html>