<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ nome_barbearia }} - Início</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <h1 class="titulo" >Bem-vindo à {{ nome_barbearia }} 💈</h1>
    <hr class = "linha">

    <nav class="navBar">
        <a href="/agendamentos">Ver todos os agendamentos</a>
        <a href="/agendamentos/status/">Agendamentos por Status</a>
    </nav>


    <div style ="justify-self:center; text-align-center; margin-top: 3rem; background: darkblue; color: white; border-radius: 8px; padding: 10px">
        <h3 style=" justify-self:center;">Painel Geral</h3>
        <p>Total de agendamentos cadastrados: <strong>{{ total }}</strong></p>
    </div>

</body>
</html>